{{> navbar}}
{{> messages}}
<section class="section">
  <div class="container">
    <h1 class="title is-3">音樂後台</h1>
    {{> admin-switch-table route='songs'}}

    <div class="mt-4 mb-4">
      <a href="/admin/songs/create" class="button is-link">New Songs</a>
    </div>

    <div class="table-container">
      <table class="table is-striped is-fullwidth">
        <thead>
          <tr>
            <th><abbr title="Position">#</abbr></th>
            <th>Name</th>
            <th>Genre</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each songs}}
          <tr>
            <th>{{this.id}}</th>
            <td>{{this.title}}</td>
            <td>{{this.Genre.name}}</td>
            <td class="is-narrow">
              <div class="buttons are-small">
                <a href="/admin/songs/{{this.id}}" class="button is-link is-outlined">Show</a>
                <a href="/admin/songs/{{this.id}}/edit" class="button is-info is-outlined">Edit</a>
                <form action="/admin/songs/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
                  <button type="submit" class="button is-danger is-outlined" onclick="return confirm(`確定要刪除 {{ this.title }} 嗎？`)">Delete</button>
                </form>
              </div>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>