<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <strong class="title is-4">Music</strong>
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">Home</a>
      <a class="navbar-item" href="/spotify">Spotify</a>
      
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">Latest</a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/songs/latest">Latest Songs</a>
          <a class="navbar-item" href="/comments/latest">Latest Comments</a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          {{#if user}}
          {{#if user.isAdmin}}
            <a href="/admin" class="button is-primary is-small custom-font-size">Admin 後台</a>
          {{/if}}
          <a href="#" class="button is-primary is-small custom-font-size" onclick="event.preventDefault()">
            Hi, {{#if user.lineDisplayName}}{{user.lineDisplayName}}{{else}}{{user.name}}{{/if}}
          </a>
          <a href="/users/{{user.id}}" class="button is-outlined is-small custom-font-size">My Profile</a>
          <a href="/logout" class="button is-light is-small custom-font-size">Log out</a>
          {{else}}
          <a href="/signup" class="button is-primary custom-font-size">Sign up</a>
          <a href="/login" class="button is-light custom-font-size">Log in</a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    // 處理 navbar-burger
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    $navbarBurgers.forEach(el => {
      el.addEventListener('click', () => {
        const target = el.dataset.target;
        const $target = document.getElementById(target);
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');
      });
    });

    // 處理手機端的 navbar-dropdown
    const $navbarLinks = Array.prototype.slice.call(document.querySelectorAll('.navbar-link'), 0);
    $navbarLinks.forEach(el => {
      el.addEventListener('click', (e) => {
        if (window.innerWidth <= 1023) { 
          e.preventDefault(); // 防止點擊時跳轉
          const dropdown = el.nextElementSibling
          const isActive = dropdown.classList.contains('is-active')
          
          // 如果當前下拉選單未展開，則展開；若已展開，則收合
          if (!isActive) {
            dropdown.classList.add('is-active')
          } else {
            dropdown.classList.remove('is-active')
          }
        }
      });
    });

    // 點擊下拉選單中的項目時收合 navbar-menu
    const $dropdownItems = Array.prototype.slice.call(document.querySelectorAll('.navbar-dropdown .navbar-item'), 0)
    $dropdownItems.forEach(item => {
      item.addEventListener('click', () => {
        if (window.innerWidth <= 1023) {
          const menu = document.getElementById('navbarBasicExample')
          const burger = document.querySelector('.navbar-burger')
          menu.classList.remove('is-active')
          burger.classList.remove('is-active')
        }
      })
    })
  })
</script>

<style>
  @media screen and (max-width: 1023px) {
    .navbar-dropdown {
      display: none; /* 預設隱藏 */
    }
    .navbar-dropdown.is-active {
      display: block; /* 點擊時顯示 */
    }
  }
  /* 添加自定義類名來調整字體大小 */
  .custom-font-size {
    font-size: 1rem; /* 與 navbar-item 的預設字體大小一致 */
  }
</style>