{{> navbar}}
{{> messages}}
<section class="section">
  <div class="container">
    {{!-- Genre Tabs --}}
    <div class="tabs is-large is-fullwidth">
      <ul>
        <li class="{{#ifCond '' genreId}}is-active{{/ifCond}}">
          <a href="?genreId=">All</a>
        </li>
        {{#each genres}}
        <li class="{{#ifCond this.id ../genreId}}is-active{{/ifCond}}">
          <a href="?genreId={{this.id}}">{{this.name}}</a>
        </li>
        {{/each}}
      </ul>
    </div>

    {{!-- Songs --}}
    <div class="columns is-multiline is-mobile">
      {{#each songs}}
      <div class="column is-12-mobile is-4-tablet is-3-desktop">
        <div class="card">
          <div class="card-image">
            <figure class="image is-3by2">
              <a href="/songs/{{this.id}}">
                <img src="{{this.image}}" alt="{{this.title}}" style="object-fit: cover;" />
              </a>
            </figure>
          </div>
          <div class="card-content">
            <div class="media-content">
              <p class="title is-5 mb-2">
                <a href="/songs/{{this.id}}">{{this.title}}</a>
              </p>
              <p class="subtitle is-6 mb-2">
                {{this.artist}}<br />
                <span>{{this.album}}   #{{this.releaseYear}}</span>
              </p>
              <div class="tags">
                <span class="tag is-danger is-light">{{this.Genre.name}}</span>
              </div>
              <div class="mt-2">
                {{#if isLiked}}
                <form action="/like/{{this.id}}?_method=DELETE" method="POST" class="is-inline">
                  <button class="button is-small is-ghost">
                    <span class="icon is-small" style="color: gold;">
                      <i class="fa-solid fa-star"></i>
                    </span>
                  </button>
                </form>
                {{else}}
                <form action="/like/{{this.id}}" method="POST" class="is-inline">
                  <button class="button is-small is-ghost">
                    <span class="icon is-small">
                      <i class="fa-regular fa-star"></i>
                    </span>
                  </button>
                </form>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>

    {{!-- Pagination --}}
    <nav class="pagination is-centered is-medium" role="navigation" aria-label="pagination">
      <a href="/music?page={{pagination.prev}}&genreId={{genreId}}" class="pagination-previous">Previous</a>
      <a href="/music?page={{pagination.next}}&genreId={{genreId}}" class="pagination-next">Next page</a>
      <ul class="pagination-list">
        {{#each pagination.pages}}
          {{#ifCond this ../pagination.currentPage}}
          <li><a href="#" class="pagination-link is-current" aria-label="Page {{this}}">{{this}}</a></li>
          {{else}}
          <li><a href="/music?page={{this}}&genreId={{../genreId}}" class="pagination-link" aria-label="Page {{this}}">{{this}}</a></li>
          {{/ifCond}}
        {{/each}}
      </ul>
    </nav>
  </div>
</section>