{{!-- <div class='artists-container'>
  {{#each artists}}
  <div class='artist-container'>
    <img class='artist-img' src={{this.images.0.url}}>
    <div>
      <h3 class='artist-name'>{{this.name}}</h3>
      <button class='button-view-albums'><a href="/albums/{{this.id}}?artist={{this.name}}" method="GET"
          name='artist'>View Albums</a></button>
    </div>
  </div>
  {{/each}}
</div> --}}

{{> navbar}}
{{> messages}}
<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      {{#each artists}}
      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <a href="/spotify/albums/{{this.id}}?artist={{this.name}}">
                <img src="{{this.images.0.url}}" alt="Placeholder image" style="object-fit: cover;"/>
              </a>
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <p>
                {{this.name}}
                {{!-- <br />
                <span>
                  {{this.album}}&nbsp;&nbsp;&nbsp;#{{this.releaseYear}}
                </span> --}}
              </p>
              <button class='button-view-albums'><a href="/spotify/albums/{{this.id}}?artist={{this.name}}" method="GET" name='artist'>View
                  Albums</a></button>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
    <hr>
    <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
  </div>
</section>