{{> navbar}}
{{> messages}}
<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      {{#if message}}
      <p class="title is-3">No favortie songs found...</p>
      {{/if}}
      {{#each songs}}
      <div class="column is-one-quarter">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <a href="/songs/{{this.id}}">
                <img src="{{this.image}}" alt="Placeholder image" style="object-fit: cover;"/>
              </a>
            </figure>
          </div>
          <div class="card-content">
            <div class="media-content">
              <p class="title is-6">
                <a href="/songs/{{this.id}}">
                  {{this.title}}
                </a>
                <br />
                <br />
                <span class="tag is-danger is-light">
                  {{this.Genre.name}}
                </span>
              <div class="content">
                <p>
                  {{this.artist}}
                  <br />
                  <span>
                    {{this.album}}&nbsp;&nbsp;&nbsp;#{{this.releaseYear}}
                  </span>
                </p>
                {{#if isLiked}}
                <form action="/like/{{this.id}}?_method=DELETE" method="POST">
                  <button class="button">
                    <span class="icon is-small" style="color:gold;">
                      <i class="fa-solid fa-star"></i>
                    </span>
                  </button>
                </form>
                {{else}}
                <form action="/like/{{this.id}}" method="POST">
                  <button class="button">
                    <span class="icon is-small">
                      <i class="fa-regular fa-star"></i>
                    </span>
                  </button>
                </form>
                {{/if}}
              </div>
            
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
  <hr>
  <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
</section>