{{>navbar}}
<div class="card">
  <div class="card-content" style="margin-left: 80px;">
    <div class="media">
      <div class="media-left">
        <figure class="image is-128x128" style="margin-right: 100px;">
          <img class="is-rounded" src="{{profileUser.image}}" alt="Placeholder image" style="width: 100%; height: 100%; object-fit: cover;" />
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4" style="margin-bottom: 20px;">{{profileUser.name}}</p>
        <p class="subtitle is-6">{{profileUser.email}}</p>
        <p><a href="/users/{{profileUser.id}}/edit" class="btn btn-primary">Edit My Profile</a></p>
          {{!-- <i class="fa-solid fa-medal custom-font"></i> --}}
          <p class="subtitle is-6 custom-font" style="margin-top: 30px; margin-bottom: 10px;">評論了{{commentData.length}}首歌曲</p>
          {{!-- <i class="fa-solid fa-medal"></i> --}}
          <button class="button is-link is-outlined">
          <a href="/users/{{profileUser.id}}/likedsongs" class="btn btn-primary">My Favorite Songs</a>
          </button>
      </div>
    </div>
  </div>

  <div class="card-content">
    <div>
      <h6 class="custom-font">已評論過的歌曲：</h6>
    </div>
    <br />
    <div class="comment-images">
      {{#each commentData}}
      <a href="/songs/{{this.Song.id}}">
        <img src="{{this.Song.image}}" class="img-thumbnail ms-1" style="max-width: 100px; max-height: 100px;"
          alt="{{this.Song.title}}">
      </a>
      {{/each}}
    </div>
  </div>
</div>